<div>
  <link rel="stylesheet" href="detalle-personaje.component.css">
  <div class="card " style="width: 18rem;">
    <img src="{{personaje.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{personaje.name}}</h5>
      <p>{{personaje.id}}</p>

      <p>{{personaje.status}}</p>
      <p>{{personaje.gender}}</p>
      <p>{{personaje.created | date:'short'}} </p>

    </div>
  </div>
</div>
<table >
  <h1 style="text-align: center; margin-top: 10%;">Episodios donde sale {{personaje.name}}</h1>
  <h3 style="text-align: center;">episodios</h3>
  <tr *ngFor="let epi of personaje?.episode" >
    <td > {{epi}} 
    <button mat-button color="primary" [routerLink]="['/episodes/detalle/',getIdEpisodio(epi)]"> detalle episodio</button> 
    <td>
 
  </tr>
</table>


