 <button mat-button (click)="preview" (click)="preview()" *ngIf="info.prev"> atras</button>
<button mat-button color="primary" (click)="next()" *ngIf="info.next">Sigiente</button> 


<div class="row margenes">
  <div class="col col-xs-12 col=sm-6 col-md-2" *ngFor="let loc of lista" style="color: rgb(0, 0, 0);">

      <div class="card" style="width: 15rem;">
        
          <div class="card-body">
              <h1 class="card-title">{{loc.id}}...{{loc.name}}</h1>
              <p class="card-text">tipo: {{ loc.type}}</p>per
              <p class="card-text">dimesion: {{ loc.dimesion}}</p>
              <p class="card-text">Fecha de creacion:</p>
              <p class="card-text">{{ loc.created | date:'short'}}</p>
              <button mat-button color="primary" [routerLink]="['/locations/detalle/',loc.id]"> detalles</button> 
          </div>
      </div>


  </div>
</div>
